body {
    font-family: 'Outfit', sans-serif;
    background-image: url(../imagens/fundo-site.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100vh;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 50px;
}

.cabecalho .titulo {
    color: #f1ecff;
}

.cabecalho .pokebola {
    width: 25px;
    height: 25px;
}

.pokemon-slider {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 60px 0;
}

.lista-pokemons {
    background-color: blue;
    width: 310px;
    height: 520px;
}

.btn-seta {
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 70px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.btn-seta.btn-voltar {
    transform: rotateY(180deg);
}

.btn-seta:hover {
    background-color: #8351FE;
}